@model IEnumerable<StockJournal.Models.StockTrans>

@{
    ViewData["Title"] = "Index";
    //ViewBag.userID = Model.FirstOrDefault().StockUserId;
}

<h2>Transaction Dashboard</h2>

<p>
   
   
    <br />
    @Html.ActionLink("Enter New Transaction", "Create", new { userId = Model.FirstOrDefault().StockUserId }, new {@class = "btn btn-primary btn-large" })
    <br />


</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticker)
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumShares)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.StopLoss)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransDate)
                </th>
                <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ticker)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumShares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StopLoss)
            </td>
            <td id="transDate">
                @Html.DisplayFor(modelItem => item.TransDate)
            </td>          
            <td>
               |
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    <script>
    (function () {
        var cash = document.getElementById("transDate");

        window.onload = function () {
            //cash.innerText = "";
        }

    })();
    </script>
}
